@model IEnumerable<CarViewModel>

@{
    ViewData["Title"] = "Cars by search";
    int counter = 2;
}

@if (!Model.Any())
{
    <div class="container">
        <div class="jumbotron">
            <h1>Don't have in the moment cars by this search</h1>
            <p>
                Please try soon!
            </p>
        </div>
    </div>
}
else
{

    @foreach (var car in Model)
    {
        <div class="container">
            <div class="row">
                @if (car.Status == "Vip")
                {

                    <div class="col-sm-4">
                        <div class="panel panel-danger">
                            <div class="panel-heading">VIP OFFER</div>
                            <div class="panel-body"><a asp-controller="Car" asp-action="ViewCar" asp-route-id="@car.Id"><img src="/Car/SmallImages/@car.ImageId" class="img-responsive" width="150" height="150"></a></div>
                            <div class="panel-body"><a asp-controller="Car" asp-action="ViewCar" asp-route-id="@car.Id">@car.Name</a></div>
                            <div class="panel-body">Horse Power: @car.HorsePower</div>
                            <div class="panel-body">Engine: @car.EngineType</div>
                            <div class="panel-body">Year: @car.Date.Year</div>
                            <div class="panel-footer">Price: @String.Format(@car.Price % 1 == 0 ? "{0:0}" : "{0:0.00}", @car.Price) Lv</div>
                        </div>
                    </div>

                }
                else if (car.Status == "Top")
                {

                    <div class="col-sm-4">
                        <div class="panel panel-success">
                            <div class="panel-heading">TOP OFFER</div>
                            <div class="panel-body"><a asp-controller="Car" asp-action="ViewCar" asp-route-id="@car.Id"><img src="/Car/SmallImages/@car.ImageId" class="img-responsive" width="150" height="150"></a></div>
                            <div class="panel-body"><a asp-controller="Car" asp-action="ViewCar" asp-route-id="@car.Id">@car.Name</a></div>
                            <div class="panel-body">Horse Power: @car.HorsePower</div>
                            <div class="panel-body">Engine: @car.EngineType</div>
                            <div class="panel-body">Year: @car.Date.Year</div>
                            <div class="panel-footer">Price: @String.Format(@car.Price % 1 == 0 ? "{0:0}" : "{0:0.00}", @car.Price) Lv</div>
                        </div>
                    </div>

                }
                else
                {

                    <div class="col-sm-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">OFFER</div>
                            <div class="panel-body"><a asp-controller="Car" asp-action="ViewCar" asp-route-id="@car.Id"><img src="/Car/SmallImages/@car.ImageId" class="img-responsive" width="150" height="150"></a></div>
                            <div class="panel-body"><a asp-controller="Car" asp-action="ViewCar" asp-route-id="@car.Id">@car.Name</a></div>
                            <div class="panel-body">Horse Power: @car.HorsePower</div>
                            <div class="panel-body">Engine: @car.EngineType</div>
                            <div class="panel-body">Year: @car.Date.Year</div>
                            <div class="panel-footer">Price: @String.Format(@car.Price % 1 == 0 ? "{0:0}" : "{0:0.00}", @car.Price) Lv</div>
                        </div>
                    </div>

                }
            </div>
        </div>

    }
}

