@model IEnumerable<CarViewModel>

@{
    ViewData["Title"] = "Cars by search";
    int counter = 2;
}

@if (!Model.Any())
{
    <div class="container">
        <div class="jumbotron">
            <h1>Don't have in the moment cars by this search</h1>
            <p>
                Please try soon!
            </p>
        </div>
    </div>
}
else
{



    <div class="container">
        <div class="row">

            @foreach (var car in Model)
            {
                @if (car.Status == "Vip")
                {

                    <div class="col-sm-4">
                        <div class="panel panel-danger">
                            <div class="panel-heading">VIP OFFER</div>
                            <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                            <div class="panel-body">@car.Name</div>
                            <div class="panel-body">Horse Power: @car.HorsePower</div>
                            <div class="panel-body">Engine: @car.EngineType</div>
                            <div class="panel-body">Year: @car.Date.Year</div>
                            <div class="panel-footer">Price: @String.Format(@car.Price % 1 == 0 ? "{0:0}" : "{0:0.00}", @car.Price) Lv</div>
                        </div>
                    </div>
                }
                else if (car.Status == "Top")
                {
                    <div class="col-sm-4">
                        <div class="panel panel-success">
                            <div class="panel-heading">BLACK FRIDAY DEAL</div>
                            <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                            <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-sm-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">BLACK FRIDAY DEAL</div>
                            <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                            <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
    <br>
}

