@model CarDetailViewModel

@{
    ViewData["Title"] = "Car Details";
}


<h1>@Model.Name</h1>
<h1>@Model.Price</h1>
<h1>@Model.HorsePower</h1>
<h1>@Model.EnginePower</h1>
<h1>@Model.Status</h1>
<h1>@Model.Date.Year</h1>