@using CarsBg_System.Models.Api.Price
@model CarDetailViewModel

@{
    byte isActive = 0;
    int count = @Model.ImagesId.Count();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Car Details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>

        .carousel-inner img {
            width: 45%;
            margin: auto;
            min-height: 200px;
        }

        .carousel-caption {
            display: none;
        }

        }
    </style>
</head>
<body>



    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

            @for (int i = 1; i < @count; i++)
            {
                <li data-target="#myCarousel" data-slide-to="@i"></li>
            }
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

            @foreach (var carImage in @Model.ImagesId)
            {
                @if (isActive == 0)
                {
                    isActive++;

                    <div class="item active">
                        <a href="/Car/OriginalImages/@carImage">
                            <img src="/Car/CourseImages/@carImage" />
                        </a>
                    </div>
                }
                else
                {
                    <div class="item">
                        <a href="/Car/OriginalImages/@carImage">
                            <img src="/Car/CourseImages/@carImage" />
                        </a>
                    </div>
                }
            }
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="container text-center">
        <h3>@Model.Name</h3><br>
        <div class="row">
            <div class="col-sm-4">
                <div class="well">

                    <h1 style="background-color:powderblue;">Main information</h1>


                    <p><h3 style="background-color:powderblue;">Engine capacity: </h3>@Model.EnginePower cubic cm</p>
                    <p><h3 style="background-color:powderblue;">Engine type: </h3>@Model.EngineType</p>
                    <p><h3 style="background-color:powderblue;">Horse power: </h3>@Model.HorsePower hp</p>
                    @if (@Model.Mileage == 0)
                    {
                        <p><h3 style="background-color:powderblue;">Mileage: </h3>N/A</p>

                    }
                    else
                    {
                        <p><h3 style="background-color:powderblue;">Mileage: </h3>@Model.Mileage km</p>
                    }
                    <p><h3 style="background-color:powderblue;">Category: </h3>@Model.Category</p>
                    <p><h3 style="background-color:powderblue;">Transmission: </h3>@Model.Transmission</p>
                    <p><h3 style="background-color:powderblue;">Wheeldrive: </h3>@Model.WheelDrive</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="well">

                    <h1 style="background-color:powderblue;">Contact and Offer</h1>

                    <p><h3 style="background-color:powderblue;">Model: </h3>@Model.Model</p>
                    <p><h3 style="background-color:powderblue;">Date: </h3>@Model.Date.ToString("dd-MM-yyyy")</p>
                    <p><h3 style="background-color:powderblue;">Color: </h3>@Model.Color</p>
                    <p><h3 style="background-color:powderblue;">Phone number: </h3>@Model.PhoneNumber</p>
                    <p><h3 style="background-color:powderblue;">Region: </h3>@Model.Region</p>
                    @if (@Model.Status == "Vip")
                    {
                        <p><h3 style="background-color:orangered;">Status: </h3>@Model.Status</p>
                    }
                    else if (@Model.Status == "Top")
                    {
                        <p><h3 style="background-color:lightgreen;">Status: </h3>@Model.Status</p>
                    }
                    else
                    {
                        <p><h3 style="background-color:powderblue;">Status: </h3>@Model.Status</p>
                    }
                    <p><h3 style="background-color:orangered;">Price: </h3>@String.Format(@Model.Price % 1 == 0 ? "{0:0}" : "{0:0.00}", @Model.Price) Lv</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="well">
                    <h1 style="background-color:powderblue;">Extras</h1>
                    @if (@Model.Extras.Any())
                    {
                        @foreach (var extra in @Model.Extras)
                        {
                            <p><h4 style="background-color:powderblue;">- </h4>@extra</p>
                        }
                    }
                    else
                    {
                        <p>Don't have any extras added for this car</p>
                    }

                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default text-left">
                    <div class="panel-body">
                        <p id="prices-p">Click here to show price change</p>

                        <div class="d-none" id="prices">

                            <p id="date"></p>
                            <p id="price"></p>

                        </div>

                        <button type="button" class="btn btn-primary" id="prices-button">
                            Check
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="well">
                    <h1 style="background-color:powderblue;">Description</h1>
                    <p>@Model.Description</p>

                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="well">
                <h1 style="background-color:powderblue;">Comments</h1>

                @foreach (var comment in @Model.Comments)
                {
                    <h3 style="background-color:orangered;">-</h3>
                    <p>@comment   <a asp-controller="Car" asp-action="AddPostToCar" asp-route-id="@Model.Id" class="btn btn-primary">Add comment</a></p>
                }

                <a asp-controller="Car" asp-action="AddPostToCar" asp-route-id="@Model.Id" class="btn btn-primary">Add comment</a>
            </div>
        </div>
    </div>
    </div>
    <br>

    @section Scripts {
    <script>
        $('#prices-button').on('click', () => {
            $.get('/api/prices/@Model.Id', (data) => {

                if (data && data.prices && data.prices.length > 0) {
                    $('#prices-p').addClass('d-none');
                    $('#prices-button').addClass('d-none');


                    $('#prices').empty();


                    data.prices.forEach((price) => {
                        $('#prices').append(`<p style="background-color:greenyellow;">Date: ${price.date}</p><p style="background-color:powderblue;">Price: ${price.price}</p>`);
                    });

                    $('#prices').removeClass('d-none');
                    $('#prices-button').hide();
                    $('#prices-p').hide();
                } else {

                    console.log('No data found');
                }
            });
        });
    </script>
    }

</body>
</html>











